<div class="about _fb j-section" id="about-anchor">
    <div class="about__header _fh">
        <div class="page-header"><span class="page-header__title">О КОМПЛЕКСЕ ЖК “ВИНОГРАДЪ”</span></div>
        <div class="page-subtitle _nm">Сдача домов запланирована на май 2017 года</div>
    </div>
    
    <div class="about__wrapper">
    
        <div class="layout-wrapper__content clearfix">
            <div class="about__overlay">
                <div class="about__overlay__content">
                    
                    <div class="about__slider clearfix">
                        <div class="about__slider__wrapper j-slider">
                            <div class="about__slider__item slick-slide">
                                <div class="about__slider__content">
                                    <h4>Жилой комплекс «ВиноградЪ»</h4>
                                    <p>Это новый жилой квартал, располагающийся в экологически чистом районе, по адресу а. Новая Адыгея, уп. Бжегокайская 19, в 5 минутах езды от центра Краснодара.</p>
                                    <p><em>«Виноградъ» представляет собой комплекс из пяти трехэтажных монолитно-кирпичных домов класса «Комфорт», включает в себя всю необходимую внутреннюю инфраструктуру для комфортного проживания - детские и спортивные площадки, зоны отдыха для семейного досуга, наземные парковки, супермаркет, аптека, салон красоты, а также собственная управляющая компания.</em></p>
                                </div>

                                <div class="about__slider__push">
                                    <div class="about__slider__image">
                                        <img src="/images/about-slide.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="about__slider__item slick-slide">
                                <div class="about__slider__content">
                                    <p><strong>Строительство и продажа в ЖК «ВиноградЪ»</strong> осуществляется по Федеральному закону РФ № 214 — ФЗ, что даёт возможность приобрести квартиру несколькими способами: наличные средства, рассрочка без %‚ ипотека, материнский капитал.</p>
                                    <p>Данный комплекс отличается качеством строительства и удивительным разнообразием планировок: студии, однокомнатные и двухкомнатные квартиры, площадью от 20 до 62 кв. м. Коммерческие помещения, площадью от 20 до 200 кв. м. для открытия собственного бизнеса.</p>
                                </div>

                                <div class="about__slider__push">
                                    <div class="about__slider__image">
                                        <img src="/images/complex.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="about__slider__item slick-slide">
                                <div class="about__slider__content">
                                    <h4>Инфраструктура района</h4>
                                    <p>ЖК «ВиноградЪ» расположен в динамично развивающемся районе, где уже имеется вся необходимая инфраструктура: социальная, коммерческая и транспортная, На данной территории есть большие торговые центры (ТЦ кМега-Адыгея», ТЦ Мопатагпа, ЦОТ «Метро»)‚ автосалоны, радиорынок, салоны мебели («Стопппитхоумт Гипермаркет «Семейный Магнит, МТЦ «Пять звёзд», Тд «Лазурит», сУпермаркеты, аптеки, салоны красоты, Фитнес-центры, кафе и т д.</p>
                                    <p>От ЖК «ВиноградЪ» добраться до центра города Краснодара можно всего за 5 минут. ЖК «ВиноградЪх располагается в 900 метрах от реки Кубань. В непосредственной близости находятся три озера, каждое из которых оборудовано всем необходимым для отдыха: рыбалка, беседки, мангалы, водные скутеры и лодки.</p>
                                </div>

                                <div class="about__slider__push">
                                    <div class="about__slider__image">
                                        <img src="/images/infrastructure.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="about__slider__item slick-slide">
                                <div class="about__slider__content">
                                    <h4>О застройщике РЕГИОН СТРОЙ</h4>
                                    <p>Строительная компания «Регион Строй» ведет свою деятельность с 2012 года. <br>За это время «Регион Строй» построил и сдал в эксплуатацию более 30 000 квадратных метров жилой и коммерческой недвижимости.</p>
                                    <p>В компании «РС» находятся профессиональные строители, которые возводят и реконструируют объекты недвижимости качественно, а значит надежно.<br>«Регион Строй» - одна из немногих строительных компаний, которые нарабатывают свой имидж качеством выполненных работ и большим количеством довольных хозяев квартир.</p>
                                </div>

                                <div class="about__slider__push">
                                    <div class="about__slider__image">
                                        <img src="/images/region-stroy.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="about__comments clearfix">
                <div class="about__comments__content">
                    <div class="about__comments__item">
                        <div class="about__comments__item__image">
                            <img src="/images/shield.png" class="about__comments__item__image__src" alt="">
                        </div>
                        <div class="about__comments__item__desc">
                            <div class="about__comments__item__desc__middle">
                                Строим по ФЗ 214 <br>Гарантия защиты ваших прав
                            </div>
                        </div>
                    </div>
                    
                    <div class="about__comments__item">
                        <div class="about__comments__item__image">
                            <img src="/images/communication.png" class="about__comments__item__image__src" alt="">
                        </div>
                        <div class="about__comments__item__desc">
                            <div class="about__comments__item__desc__middle">
                                В квартирах центральные <br>коммуникации
                            </div>
                        </div>
                    </div>

                    <div class="about__comments__item">
                        <div class="about__comments__item__image">
                            <img src="/images/strach.png" class="about__comments__item__image__src" alt="">
                        </div>
                        <div class="about__comments__item__desc">
                            <div class="about__comments__item__desc__middle">
                                Страхование гражданской <br>ответственности застройщика
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>