<div class="about _fb j-section" id="about-anchor">
    <div class="about__header _fh">
        <div class="page-header"><span class="page-header__title">О КОМПЛЕКСЕ ЖК “ВИНОГРАДЪ”</span></div>
        <!-- <div class="page-subtitle _nm">Сдача домов май 2017 года</div> -->
    </div>
    
    <div class="about__wrapper">
    
        <div class="layout-wrapper__content clearfix">
            <div class="about__overlay">
                <div class="about__overlay__content">
                    
                    <div class="about__slider clearfix">
                        <div class="about__slider__wrapper j-slider">
                            <div class="about__slider__item slick-slide">
                                <div class="about__slider__content">
                                    <h4>Жилой комплекс «ВиноградЪ»</h4>
                                    <p>Это новый жилой квартал, располагающийся в экологически чистом районе, по адресу а. Новая Адыгея, уп. Бжегокайская 19, в 5 минутах езды от центра Краснодара.</p>
                                    <p><em>«Виноградъ» представляет собой комплекс из пяти трехэтажных монолитно-кирпичных домов класса «Комфорт», включает в себя всю необходимую внутреннюю инфраструктуру для комфортного проживания - детские и спортивные площадки, зоны отдыха для семейного досуга, наземные парковки, супермаркет, аптека, салон красоты, а также собственная управляющая компания.</em></p>
                                </div>

                                <div class="about__slider__push">
                                    <div class="about__slider__image">
                                        <img data-src="/images/about-slide.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="about__slider__item slick-slide">
                                <div class="about__slider__content">
                                    <p><strong>Строительство и продажа в ЖК «ВиноградЪ»</strong>&nbsp;осуществляется по Федеральному закону РФ № 214 — ФЗ, что даёт возможность приобрести квартиру несколькими способами: наличные средства, рассрочка без %‚ ипотека, материнский капитал.</p>
                                    <p>Данный комплекс отличается качеством строительства и удивительным разнообразием планировок: студии, однокомнатные и двухкомнатные квартиры, площадью от 20 до 62 кв. м. Коммерческие помещения, площадью от 20 до 200 кв. м. для открытия собственного бизнеса.</p>
                                </div>

                                <div class="about__slider__push">
                                    <div class="about__slider__image">
                                        <img data-src="/images/complex.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="about__slider__item slick-slide">
                                <div class="about__slider__content">
                                    <h4>Инфраструктура района</h4>
                                    <p>ЖК «ВиноградЪ» расположен в динамично развивающемся районе, где уже имеется вся необходимая инфраструктура: социальная, коммерческая и транспортная. На данной территории есть большие торговые центры (ТЦ «Мега-Адыгея», ТЦ «Monarama», ЦОТ «Метро»)‚ автосалоны, радиорынок, салоны мебели («Столплит Хоум Гипермаркет «Семейный Магнит, МТЦ «Пять звёзд», Тд «Лазурит», супермаркеты, аптеки, салоны красоты, Фитнес-центры, кафе и т д.</p>
                                    <p>От ЖК «ВиноградЪ» добраться до центра города Краснодара можно всего за 5 минут. ЖК «ВиноградЪ» располагается в 900 метрах от реки Кубань. В непосредственной близости находятся три озера, каждое из которых оборудовано всем необходимым для отдыха: рыбалка, беседки, мангалы, водные скутеры и лодки.</p>
                                </div>

                                <div class="about__slider__push">
                                    <div class="about__slider__image">
                                        <img data-src="/images/complex-2.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="about__slider__item slick-slide">
                                <div class="about__slider__content">
                                    <h4>О застройщике РЕГИОН СТРОЙ</h4>
                                    <div class="text-block__wrapper">
                                        <p>Строительная компания «Регион-Строй» ведет свою деятельность с 2012 года. За это время компания построила и ввела в эксплуатацию более 30 000 квадратных метров жилой и коммерческой недвижимости. Укрепив свои позиции на рынке жилья Краснодарского края, мы преступили к строительству многоквартирных жилых комплексов средней этажности.</p>
                                        <p>Сегодня в нашем арсенале: большой автопарк строительной техники, проверенные поставщики и подрядчики, высококвалифицированные специалисты!</p>
                                        
                                        <div class="text-block__hidden" id="hidden-about">
                                            <p>Наша миссия – строить для Вас, как для своей семьи! Создавая комфортные условия на всех этапах сотрудничества, от момента выбора и оформления квартиры, до дальнейшего проживания в ней!</p>
                                            <ul>
                                                <li>Наши проектировщики уже продумали все планировки до мелочей,</li>
                                                <li>наш ипотечный брокер поможет Вам с открытием ипотеки по самым выгодным ставкам,</li>
                                                <li>наши юристы возьмут на себя всю нагрузку по оформлению квартиры на Вас,</li>
                                                <li>специалисты отдела продаж помогут подобрать Вам квартиру Вашей мечты,</li>
                                                <li>сотрудники управляющей компании помогут в решении бытовых вопросов.</li>
                                            </ul>
                                            <p>Именно поэтому мы с уверенностью можем заявить, что в ООО «Регион-Строй» Вы найдете самые эргономичные и уютные планировки; объекты, оснащенные богатой инфраструктурой, доступные цены и комфорт при выборе и оформлении жилья.</p>
                                            <p>ООО «Регион-Строй» является партнером крупнейших банков страны, которые предоставляют клиентам нашей компании сниженные ставки по ипотечному кредитованию.</p>
                                            <p>Мы сами определяем наше будущее и уже сегодня можем гарантировать – все наши объекты будут сдаваться в заявленный срок!</p>
                                            <p>Компания ООО «Регион-Строй» выражает благодарность покупателям, которые уже оценили качество возводимых объектов и рекомендуют нас друзьям! Ваше признание – лучшая награда для нас!</p>
                                        </div>
        
                                        <div class="text-block__more">
                                            <a href="#hidden-about" class="text-block__more__link j-show">Смотреть все</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="about__slider__push">
                                    <div class="about__slider__image">
                                        <img data-src="/images/region-stroy.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="about__comments clearfix">
                <div class="about__comments__content">
                    <div class="about__comments__item">
                        <div class="about__comments__item__image">
                            <img data-src="/images/shield.png" class="about__comments__item__image__src" alt="">
                        </div>
                        <div class="about__comments__item__desc">
                            <div class="about__comments__item__desc__middle">
                                Строим по ФЗ 214 <br>Гарантия защиты ваших прав
                            </div>
                        </div>
                    </div>
                    
                    <div class="about__comments__item">
                        <div class="about__comments__item__image">
                            <img data-src="/images/communication.png" class="about__comments__item__image__src" alt="">
                        </div>
                        <div class="about__comments__item__desc">
                            <div class="about__comments__item__desc__middle">
                                В квартирах центральные <br>коммуникации
                            </div>
                        </div>
                    </div>

                    <div class="about__comments__item">
                        <div class="about__comments__item__image">
                            <img data-src="/images/strach.png" class="about__comments__item__image__src" alt="">
                        </div>
                        <div class="about__comments__item__desc">
                            <div class="about__comments__item__desc__middle">
                                Страхование гражданской <br>ответственности застройщика
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>