<div class="layout-wrapper__content _contacts clearfix j-section" id="contacts-anchor">
    <div class="contacts">
        <div class="page-header"><span class="page-header__title">Контакты отдела продаж</span></div>
        
        <div class="page-subtitle">
            <p>Пос. Перекатный, ул. Сливовая, 7 (Сразу за Тургеневским мостом)</p>
            <h4><strong>КОМПАНИЯ «РЕГИОН СТРОЙ»</strong></h4>
        </div>

        <div class="contacts__col clearfix">
            <div class="contacts__col__item">
                <div class="contacts__col__item__label">Режим работы:</div>
                <div class="contacts__col__item__worktime">Без выходных, с 9:00 до 19:00 ч.</div>
            </div>

            <div class="contacts__col__item _center">
                <!--8 (928) 880-75-75!-->
                <div class="contacts__col__item__label">Телефон отдела продаж:</div>
                <div class="contacts__col__item__phone"><span class="roistat-phone1">8 (800) 250-89-84</span><!--<br><span class="small-text">(звонок бесплатный)</span>--></div>
            </div>

            <div class="contacts__col__item">
                <div class="contacts__col__item__label">Email для коммерческих предложений:</div>
                <div class="contacts__col__item__email"><a href="mailto:info@vinograd23.ru">info@vinograd23.ru</a></div>
            </div>

            <div class="contacts__facebook clearfix">
                <a href="https://goo.gl/1KyuZI" class="contacts__facebook__link" target="_blank">
                    <span class="contacts__facebook__icon">
                        <img src="/images/facebook.png" width="32" height="32" class="lazy" alt="">
                    </span>
                    <span class="contacts__facebook__title">
                        Недвижимость в Новой Адыгее - ЖК Виноград
                    </span>
                </a>
            </div>

            
        </div>

        <div class="page-line _push"></div>
        
        <div class="page-button">
            <div class="page-button__title">Остались вопросы?</div>
            <a href="#popup-feedback" class="button button_green js-open-popup">НАПИШИТЕ НАМ</a>
        </div>
    </div>
</div>

<div class="contact-map">
    <div class="contact-map__layout" id="location-map"></div>
</div>