<div class="layout-wrapper__content clearfix">

    <div class="page-header"><span class="page-header__title">Удобное местоположение</span></div>

    <div class="page-subtitle">
        <p>Расположен в Краснодаре — в районе ТЦ “МЕГА-АДЫГЕЯ“</p>
        <p><strong>Всего 5 минут езды до центра города Краснодар</strong></p>
    </div>
    
    <div class="location clearfix">

        <div class="location__column _left">
            <div class="location__item _small _li-1">
                <div class="location__item__flag j-loc-flag" data-number="1">
                    <img src="/images/location/dynamic.png" width="61" class="location__item__flag__src lazy" alt="">
                </div>

                <div class="location__item__content _active">
                    <p><strong>Динамично развивающийся, перспективный район,</strong> включающий весь торговый пассаж в радиусе трех километров: IKEA Family, “Мега-Адыгея", "АШАН", "Леруа - Мерлен", круглосуточный гипермаркет "METRO", Семейный Магнит, рынок "Monarama",  и многие другие.</p>
                </div>
            </div>

            <div class="location__item _small _li-2">
                <div class="location__item__flag j-loc-flag" data-number="2">
                    <img src="/images/location/time.png" width="61" class="location__item__flag__src lazy" alt="">
                </div>

                <div class="location__item__content">
                    <p><strong>Добраться без преувеличения до центра города Краснодара, без пробок можно всего за 5 минут.</strong></p>
                    <p>Маршрутки ходят здесь по расписанию одна за другой.</p>
                </div>
            </div>

            <div class="location__item _large _li-3">
                <div class="location__item__flag j-loc-flag" data-number="3">
                    <img src="/images/location/leaf.png" width="61" class="location__item__flag__src lazy" alt="">
                </div>

                <div class="location__item__content">
                    <p><strong>Экологически чистый район.</strong></p>
                    <p>В непосредственной близости располагается река  Кубань и три озера, каждое из которых оборудовано всем необходимым для отдыха: рыбалка, беседки, мангалы, водные скутеры и лодки.</p>
                </div>
            </div>
        </div>
        
        <div class="location__column _right">
            <div class="location__item _small _li-4">
                <div class="location__item__flag j-loc-flag" data-number="4">
                    <img src="/images/location/pin.png" width="61" class="location__item__flag__src lazy" alt="">
                </div>

                <div class="location__item__content">
                    <p><strong>В 800 метрах от ЖК находится школа №19.</strong></p>
                </div>
            </div>

            <div class="location__item _small _li-5">
                <div class="location__item__flag j-loc-flag" data-number="5">
                    <img src="/images/location/play.png" width="61" class="location__item__flag__src lazy" alt="">
                </div>

                <div class="location__item__content">
                    <p><strong>Новая развлекательная инфраструктура</strong> в виде нового "Мега парка",  аквапарка и дельфинария.</p>
                </div>
            </div>

            <div class="location__item _small _li-6">
                <div class="location__item__flag j-loc-flag" data-number="6">
                    <img src="/images/location/map.png" width="61" class="location__item__flag__src lazy" alt="">
                </div>

                <div class="location__item__content">
                    <p><strong>Недалеко от жилого комплекса</strong> - три поликлиники, три детских сада и три школы.</p>
                </div>
            </div>
        </div>
        
        <div class="location__map__mobile is-hidden" id="location-mobile">
            <b class="location__map__mobile__close j-close"></b>
            
            <div class="location__map__content j-content">
                <div class="location__map__content__text">
                    <div class="location__map__content__middle j-content-middle">
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="location__map">
            <img src="/images/map.jpg" class="location__map__image lazy" alt="">
        </div>
    </div>
    
    @@include('./_video.html')

</div>