<div class="layout-wrapper__content _payment j-section clearfix" id="payment-anchor">
    <div class="page-header"><span class="page-header__title">Способы оплаты</span></div>
    <div class="page-subtitle">Приобрести жилье можно несколькими способами</div>
    
    <div class="tabs__cover j-tabs-cover">
        <div class="tabs__trigger j-tabs-trigger">
            <span class="tabs__trigger__hamburger"></span>
        </div>
        
        <div class="tabs__content j-tabs-content">
            <ul class="tabs j-tab-closest _stuck">
                <li class="tabs__item _w20"><a href="#._cash" data-wrapper="payment" class="tabs__item__link j-tab current">Наличные</a></li>
                <li class="tabs__item _w20"><a href="#._installments" data-wrapper="payment" class="tabs__item__link j-tab">Рассрочка</a></li>
                <li class="tabs__item _w20"><a href="#._mortgage" data-wrapper="payment" class="tabs__item__link j-tab">Ипотека</a></li>
                <li class="tabs__item _w20"><a href="#._maternal-capital" data-wrapper="payment" class="tabs__item__link j-tab">Материнский капитал</a></li>
                <li class="tabs__item _w20"><a href="#._nonresident" data-wrapper="payment" class="tabs__item__link j-tab">Для иногородних</a></li>
            </ul>
        </div>
    </div>

    <div class="tabs-content" id="tab-payment">
        
        <div class="tabs-content__item is-item _nonresident">
            <h3>ПОКУПКА КВАРТИРЫ ДИСТАНЦИОННО</h3>
        
            <p>Компания «Регион Строй» предлагает альтернативный способ приобретения жилья – <strong>дистанционная покупка квартиры</strong>&nbsp;в ЖК «ВиноградЪ». Это удобный способ для тех, кто намерен приобрести недвижимость в скорейшее время, но, в силу обстоятельств или расстояния, не может приехать в офис продаж компании-застройщика.</p>
            
            <div class="tabs-content__image">
                <img data-src="/images/inogorod.jpg" alt="Дистанционная покупка квартиры" class="tabs-content__image__src">
            </div>
            
            <h3>ЧТО НЕОБХОДИМО ОТ КЛИЕНТА ПРИ ПОКУПКЕ КВАРТИРЫ НА РАССТОЯНИИ:</h3>
        
            <ol>
                <li>Сделать выбор квартиры;</li>
                <li>Забронировать понравившуюся квартиру через офис продаж по БЕСПЛАТНОМУ тел. <span class="roistat-phone1">8 (800) 250-89-84</span>;</li>
                <li>Прислать копии документов в электронном виде менеджеру по работе с клиентами ЖК «ВиноградЪ»;</li>
                <li>Юрист компании «Регион Строй» составляет договор долевого участия на Ваше лицо и отправляет Вам его по почте для подписания, подписанный Вами договор долевого участия, Вы отправляете быстрой почтой в офис Застройщика;</li>
                <li>Юрист компании «Регион Строй» сдаёт договор в Юстицию на регистрацию;</li>
                <li>Менеджер отправляет зарегистрированный в Юстиции договор долевого участия быстрой почтой для оплаты;</li>
                <li>Вы вносите оплату по договору на расчётный счёт Компании и становитесь законным обладателем своего жилья в ЖК «ВиноградЪ».</li>
            </ol>
            
            <p>В случае дистанционной покупки квартиры, Вам необходимо лишь прислать документы и, после оформления сделки, оплатить её. Все остальное за Вас сделают специалисты строительной компании «Регион Строй».</p>
            <p>Приобретение жилья дистанционно – это быстро, удобно и выгодно.</p>
            <p>Подробности узнавайте у менеджеров по номеру <span class="roistat-phone1">8 (800) 250-89-84</span> – звонок БЕСПЛАТНЫЙ по всей России.</p>
        </div>
        
        <div class="tabs-content__item is-item is-show _cash">
            <h3>ВЫ МОЖЕТЕ ОПЛАТИТЬ НАЛИЧНЫМИ</h3>
        </div>
        
        <div class="tabs-content__item is-item _installments">
            <h3>БЕСПРОЦЕНТНАЯ РАССРОЧКА В ЖК "ВИНОГРАДЪ"</h3>
            
            <p>Компания "Регион Строй предлагает удобные условия покупки жилья в ЖК "ВиноградЪ" - беспроцентная рассрочка на 6 месяцев и выплатой первоначального взноса 50% от стоимости квартиры. Клиент в праве самостоятельно выбрать время оплаты (ежемесячно/поквартально, дата, сумма).</p>
            <p>Договор обсуждается и заключается напрямую с застройщиком. Подготовленный договор долевого участия отправляется в Юстицию и уже после того, как он будет зарегистрирован, клиент оплачивает первоначальный взнос. Это дает гарантию того, что Застройщик выполнит все обязательства перед жильцами.</p>
        </div>
        
        <div class="tabs-content__item is-item _mortgage">
            <h3>ПЛЮСЫ ИПОТЕКИ:</h3>

            <ol>
                <li>Вы платите свои деньги за собственное жилье.</li>
                <li>Сумма ежемесячного платежа по кредиту часто меньше или соизмерима с арендной платой и не изменяется в течении срока ипотеки.</li>
                <li>Возможность получить квартиру сразу, а не копить на её покупку долгие годы.</li>
                <li>В некоторых случаях (покупка квартиры на этапе строительства) приобрести квартиру в кредит выгоднее, чем покупать её спустя время. Вы инвистируете.</li>
                <li>Предоставляются различные условия ипотечного кредитования для учителей, врачей, работников гос. сферы и силовых структур.</li>
                <li>Юридическая чистота сделки.</li>
            </ol>

            <p>Банки, с которыми сотрудничает наша компания ("Сбербанк", "ВТБ Банк Москвы") предлагают будущим жильцам ЖК "ВиноградЪ" фиксированную ставку по кредиту. А это значит, что вам не стоит бояться сумм ежемесячного платежа по кредиту - со временем они не будут увеличиваться. Скорее наоборот, с каждым годом выплачивать ипотеку будет легче, так как заработная плата имеет свойство повышаться, а ипотека остается таких же размеров, например, как пять лет назад, когда вы только её взяли.</p>
            <p>"Компания "Регион Строй" в сотрудничестве с ведущими банками страны "Сбербанк", "ВТБ Банк Москвы" поможет осуществить вашу заветную месту - приобрести собственное жилье. Купить квартиру в ЖК "ВиноградЪ" можно по средствам ипотечного кредитования на выгодных условиях".</p>

            <p>Аккредитованы литер 5, литер 1, литер 2.</p>
            
            <ul class="banks">
            
                <li class="banks__item">
                    <div class="banks__item__logo">
                        <img data-src="/images/banks/sberbank.jpg" class="banks__item__src" alt="">
                    </div>
                    <div class="banks__item__content">
                        под 10,9% годовых.*
                    </div>
                </li>
                <li class="banks__item">
                    <div class="banks__item__logo">
                        <img data-src="/images/banks/vtb-bm.jpg" class="banks__item__src" alt="">
                    </div>
                    <div class="banks__item__content">
                        фиксированная - 12,35%* годовых.
                    </div>
                </li>
                <li class="banks__item">
                    <div class="banks__item__logo">
                        <img data-src="/images/banks/globex.png" class="banks__item__src" alt="">
                    </div>
                    <div class="banks__item__content">
                        фиксированная - 13,1%* годовых.
                    </div>
                </li>
                
                <li class="banks__item">
                    <div class="banks__item__logo">
                        <img data-src="/images/banks/delta-kredit.png" class="banks__item__src" alt="">
                    </div>
                    <div class="banks__item__content">
                        Ипотечный банк - под 12,5% годовых
                    </div>
                </li>

                <li class="banks__item">
                    <div class="banks__item__logo">
                        <img data-src="/images/banks/ros-kapital.png" class="banks__item__src" alt="">
                    </div>
                    <div class="banks__item__content">
                        под 12,5% годовых
                    </div>
                </li>

                <li class="banks__item">
                    <div class="banks__item__logo">
                        <img data-src="/images/banks/center-invest.jpg" class="banks__item__src" alt="">
                    </div>
                    <div class="banks__item__content">
                        составляет 12,5% годовых*.
                    </div>
                </li>

                <li class="banks__item">
                    <div class="banks__item__logo">
                        <img data-src="/images/banks/smp-bank.jpg" class="banks__item__src" alt="СМП Банк">
                    </div>
                    <div class="banks__item__content">
                         от 11% годовых.
                    </div>
                </li>

                <li class="banks__item">
                    <div class="banks__item__logo">
                        <img data-src="/images/banks/trans-kapital.jpg" class="banks__item__src" alt="Транскапитал банк">
                    </div>
                    <div class="banks__item__content">
                        от 11,5% годовых.
                    </div>
                </li>
            </ul>
        </div>

        <div class="tabs-content__item is-item _maternal-capital">
            <h3>ПОКУПКА КВАРТИРЫ ЗА МАТЕРИНСКИЙ КАПИТАЛ</h3>

            <p><strong>Материнским капиталом можно воспользоваться двумя способами:</strong></p>
            
            <ul>
                <li>Реализовать матреринский капитал с привлечением ипотечного кредита на жилье, если ребенок не достиг 3-х летнего возраста.</li>
                <li>Использовать материнский капитал (на 2015 год - 453026 руб.) для улучшения жилищных условий, на покупку квартиры в частности, после того, как ребенку исполнилось 3 года.</li>
            </ul>
            
            <p><strong>Материнским капиталом можно распорядиться так:</strong></p>

            <ul>
                <li>Приобрести квартиру за наличный расчет;</li>
                <li>Оплатить первый взнос ипотеки или по целевому займу;</li>
                <li>Стать участником долевого строительства.</li>
            </ul>

            <h3>НЕОБХОДИМЫЕ ДОКУМЕНТЫ ДЛЯ ПОЛУЧЕНИЯ МАТЕРИНСКОГО КАПИТАЛА</h3>

            <ul>
                <li>Паспорт</li>
                <li>Справка о наличие счета (пенсионное отделение)</li>
                <li>Сертификат (оригинал)</li>
            </ul>

            <p>Вы просто отдаете необходимые документы, все остальное за вас делает компания-застройщик.</p>
            <p>Либо вы можете самостоятельно отправиться в пенсионный фонд и распорядиться своими средствами.</p>
            <p>Деньги с материнского капитала поступят на счет компании застройщика в течении двух месяцев, но уже с момента подписания договора купленная квартира числится за клиентом.</p>
            <p>Материнский капитал - это отличная помощь молодым семьям при обустройстве собственного жилья.</p>
        </div>

        <div class="page-line _push"></div>

        <form action="/ajax/recall" method="post" class="form _simple _darken form-ajax form-reset">
            <div class="form__title">Получите подробную консультацию у нашего специалиста</div>

            <div class="form__row clearfix">
                <div class="form__col _input">
                    <input name="phone" placeholder="Телефон" class="c-input j-phone-mask">
                </div>
                
                <div class="form__col _button">
                    <button type="submit" class="button button_green _wide j-yandex-goal" data-target-name="zakaz-zvonok">ЗАКАЗАТЬ ЗВОНОК</button>
                </div>
            </div>
        </form>

    </div>
</div>