<div class="layout-wrapper__content _plans j-section clearfix" id="plans-anchor">
    <div class="page-header"><span class="page-header__title">Планировки</span></div>

    <div class="genplan">
        <div class="genplan__title">Генплан / Этапы строительства</div>
        <div class="genplan__image">
            <div class="genplan__image__overlay"></div>
            <img data-src="/images/genplan-update.jpg" class="genplan__image__src" alt="">
        </div>
    </div>

    <div class="page-subtitle"><span class="page-subtitle__title">Этап 1, Литер 5 - Планировки</span></div>
    
    <ul class="plan-list j-plans">

        <li class="plan-list__item">
            <span class="plan-item__title">ЖИЛЫЕ ПОМЕЩЕНИЯ - ПОДЪЕЗД 2</span>

            <a href="/images/etap1/layout-2.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap1/layout-2.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">ЖИЛЫЕ ПОМЕЩЕНИЯ - ПОДЪЕЗД 1</span>

            <a href="/images/etap1/layout-1.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap1/layout-1.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">КОММЕРЧЕСКИЕ ПОМЕЩЕНИЯ</span>

            <a href="/images/etap1/layout-3.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap1/layout-3.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

    </ul>

    <div class="page-subtitle"><span class="page-subtitle__title">Этап 2, Литер 1 - Планировки</span></div>

    <ul class="plan-list j-plans">

        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВОЙ ЭТАЖ - ПОДЪЕЗД 3</span>
            
            <a href="/images/etap2/layout-3.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap2/layout-3.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВОЙ ЭТАЖ - ПОДЪЕЗД 2</span>
            
            <a href="/images/etap2/layout-2.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap2/layout-2.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВОЙ ЭТАЖ - ПОДЪЕЗД 1</span>

            <a href="/images/etap2/layout-1.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap2/layout-1.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>
    </ul>

    <div class="page-subtitle"><span class="page-subtitle__title">Этап 3, Литер 2 - Планировки</span></div>

    <ul class="plan-list j-plans">

        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВАЯ ПЛАНИРОВКА - ПОДЪЕЗД 2</span>
            <a href="/images/etap3/layout-2.jpg" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap3/layout-2-small.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВАЯ ПЛАНИРОВКА - ПОДЪЕЗД 1</span>
            <a href="/images/etap3/layout-1.jpg" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap3/layout-1-small.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>
    </ul>

    <div class="page-subtitle"><span class="page-subtitle__title">Этап 4, Литер 3 - Планировки</span></div>
    
    <ul class="plan-list j-plans">
        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВАЯ ПЛАНИРОВКА - ПОДЪЕЗД 2</span>
            <a href="/images/etap4/l3-p2.jpg" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap4/l3-p2-s.jpg" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВАЯ ПЛАНИРОВКА - ПОДЪЕЗД 1</span>
            <a href="/images/etap4/l3-p1.jpg" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap4/l3-p1-s.jpg" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

    </ul>

    <div class="page-subtitle _bdb"><span class="page-subtitle__title">Этап 5, Литер 4 - Планировки</span></div>
    <div class="page-subtitle">Открыто бронирование квартир</div>

    <ul class="plan-list j-plans">

        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВАЯ ПЛАНИРОВКА - ПОДЪЕЗД 3</span>
            <a href="/images/etap5/p3.jpg" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap5/p3-s.jpg" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВАЯ ПЛАНИРОВКА - ПОДЪЕЗД 2</span>
            <a href="/images/etap5/p2.jpg" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap5/p2-s.jpg" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>
        
        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВАЯ ПЛАНИРОВКА - ПОДЪЕЗД 1</span>
            <a href="/images/etap5/p1.jpg" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img data-src="/images/etap5/p1-s.jpg" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

    </ul>

</div>

<div class="layout-wrapper__content _plans j-section clearfix">
    <div class="page-header"><span class="page-header__title">Узнать стоимость квартиры</span></div>
    
    <div class="get-price">
        <div class="get-price__content">
            <form action="/ajax/getprice" method="post" class="form form-ajax form-reset">
                <div class="form__ln">
                    <input name="name" placeholder="Имя" class="c-input">
                </div>

                <div class="form__ln">
                    <input name="phone" placeholder="Телефон" class="c-input j-phone-mask">
                </div>

                <div class="form__button">
                    <button type="submit" class="button button_submit button_green j-yandex-goal" data-target-name="obratnaja-svjaz">ОТПРАВИТЬ ЗАПРОС</button>
                </div>
            </form>
        </div>
    </div>
</div>
