<div class="layout-wrapper__content _plans j-section clearfix" id="plans-anchor">
    <div class="page-header"><span class="page-header__title">Планировки и цены</span></div>

    <div class="page-subtitle"><span class="page-subtitle__title">Этап 1, Литер 5 - Планировки</span></div>
    
    <ul class="plan-list j-plans">
        <li class="plan-list__item">
            <span class="plan-item__title">КОММЕРЧЕСКИЕ ПОМЕЩЕНИЯ</span>

            <a href="/images/etap1/layout-3.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img src="/images/etap1/layout-3.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">ЖИЛЫЕ ПОМЕЩЕНИЯ - ПОДЪЕЗД 1</span>

            <a href="/images/etap1/layout-1.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img src="/images/etap1/layout-1.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">ЖИЛЫЕ ПОМЕЩЕНИЯ - ПОДЪЕЗД 2</span>

            <a href="/images/etap1/layout-2.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img src="/images/etap1/layout-2.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>
    </ul>

    <div class="page-subtitle"><span class="page-subtitle__title">Этап 2, Литер 1 - Планировки</span></div>

    <ul class="plan-list j-plans">
        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВОЙ ЭТАЖ - ПОДЪЕЗД 1</span>

            <a href="/images/etap2/layout-1.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img src="/images/etap2/layout-1.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВОЙ ЭТАЖ - ПОДЪЕЗД 2</span>
            
            <a href="/images/etap2/layout-2.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img src="/images/etap2/layout-2.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>

        <li class="plan-list__item">
            <span class="plan-item__title">ТИПОВОЙ ЭТАЖ - ПОДЪЕЗД 3</span>
            
            <a href="/images/etap2/layout-3.png" class="plan-item j-pinch-trigger">
                <span class="plan-item__image">
                    <img src="/images/etap2/layout-3.png" alt="" class="plan-item__image__src">
                </span>
            </a>
        </li>
    </ul>

</div>