<div class="layout-wrapper__content _plans j-section clearfix" id="plans-anchor">
    <div class="page-header"><span class="page-header__title">Планировки и цены</span></div>
    
    <div class="page-subtitle"><span class="page-subtitle__title">Этап 1 - Планировки</span></div>

    <div class="porch j-porch">
        <div class="porch__tabs clearfix">
            <a href="#" onclick="return false" data-tab="1" class="porch__tab j-porch-tab _current">КОММЕРЧЕСКИЕ ПОМЕЩЕНИЯ</a>
            <a href="#" onclick="return false" data-tab="2" class="porch__tab j-porch-tab">ЖИЛЫЕ ПОМЕЩЕНИЯ - ПОДЪЕЗД 1</a>
            <a href="#" onclick="return false" data-tab="3" class="porch__tab j-porch-tab">ЖИЛЫЕ ПОМЕЩЕНИЯ - ПОДЪЕЗД 2</a>
        </div>
        
        <div class="porch__frame clearfix j-porch-frame">
            
            <div class="porch__frame__item j-porch-item _active" id="porch-tab-1">
                <img src="/images/area.png" class="porch__frame__item__area" usemap="#map-e1-i3" width="805" height="472" alt="">
                <img src="/images/etap1/layout-3.png" width="805" height="472" alt="">
                
                <img src="/images/etap1/layout-3-1.png" width="325" height="230" id="e1-l3-1" class="porch__frame__item__hover" style="top: 50px; left: 0px;" alt="">
                <img src="/images/etap1/layout-3-2.png" width="85" height="181" id="e1-l3-2" class="porch__frame__item__hover" style="top: 50px; left: 387px;" alt="">
                <img src="/images/etap1/layout-3-3.png" width="95" height="180" id="e1-l3-3" class="porch__frame__item__hover" style="top: 50px; left: 465px;" alt="">
                <img src="/images/etap1/layout-3-4.png" width="96" height="180" id="e1-l3-4" class="porch__frame__item__hover" style="top: 50px; left: 635px;" alt="">
                <img src="/images/etap1/layout-3-5.png" width="83" height="171" id="e1-l3-5" class="porch__frame__item__hover" style="top: 50px; left: 722px;" alt="">

                <img src="/images/etap1/layout-3-6.png" width="170" height="203" id="e1-l3-6" class="porch__frame__item__hover" style="bottom: 0px; right: 0px;" alt="">
                <img src="/images/etap1/layout-3-7.png" width="170" height="203" id="e1-l3-7" class="porch__frame__item__hover" style="bottom: 0px; left: 477px;" alt="">
                <img src="/images/etap1/layout-3-8.png" width="171" height="203" id="e1-l3-8" class="porch__frame__item__hover" style="bottom: 0px; left: 313px;" alt="">
                <img src="/images/etap1/layout-3-9.png" width="164" height="203" id="e1-l3-9" class="porch__frame__item__hover" style="bottom: 0px; left: 161px;" alt="">
                <img src="/images/etap1/layout-3-10.png" width="197" height="204" id="e1-l3-10" class="porch__frame__item__hover" style="bottom: 0px; left: 0px;" alt="">

                <map name="map-e1-i3" id="map-e1-i3">
                    <area alt="" title="" href="/images/etap1/layout-3-1.png" data-element="#e1-l3-1" class="j-area-item" shape="poly" coords="1,54,321,52,323,272,0,275" />
                    <area alt="" title="" href="/images/etap1/layout-3-2.png" data-element="#e1-l3-2" class="j-area-item" shape="poly" coords="390,52,390,225,470,224,469,51" />
                    <area alt="" title="" href="/images/etap1/layout-3-3.png" data-element="#e1-l3-3" class="j-area-item" shape="poly" coords="471,53,472,227,557,229,557,52" />
                    <area alt="" title="" href="/images/etap1/layout-3-4.png" data-element="#e1-l3-4" class="j-area-item" shape="poly" coords="640,52,646,224,729,226,725,53" />
                    <area alt="" title="" href="/images/etap1/layout-3-5.png" data-element="#e1-l3-5" class="j-area-item" shape="poly" coords="727,53,731,221,800,219,802,49" />
                    <area alt="" title="" href="/images/etap1/layout-3-6.png" data-element="#e1-l3-6" class="j-area-item" shape="poly" coords="640,270,641,467,703,467,707,439,803,438,802,273" />
                    <area alt="" title="" href="/images/etap1/layout-3-7.png" data-element="#e1-l3-7" class="j-area-item" shape="poly" coords="481,269,481,439,554,440,552,467,638,466,637,271" />
                    <area alt="" title="" href="/images/etap1/layout-3-8.png" data-element="#e1-l3-8" class="j-area-item" shape="poly" coords="319,274,315,469,383,471,386,438,483,441,476,270" />
                    <area alt="" title="" href="/images/etap1/layout-3-9.png" data-element="#e1-l3-9" class="j-area-item" shape="poly" coords="164,323,162,434,230,441,230,468,314,471,314,275,193,274,193,323" />
                    <area alt="" title="" href="/images/etap1/layout-3-10.png" data-element="#e1-l3-10" class="j-area-item" shape="poly" coords="190,278,191,317,163,321,159,434,81,436,79,470,1,469,2,278" />
                </map>
            </div>

            <div class="porch__frame__item j-porch-item" id="porch-tab-2">
                <img src="/images/area.png" class="porch__frame__item__area" usemap="#map-e1-i1" width="903" height="472" alt="">
                <img src="/images/etap1/layout-1.png" width="903" height="472" alt="">
                
                <img src="/images/etap1/layout-1-1.png" width="206" height="257" id="e1-l1-1" class="porch__frame__item__hover" style="top: 0px; left: 0px;" alt="">
                <img src="/images/etap1/layout-1-2.png" width="188" height="201" id="e1-l1-2" class="porch__frame__item__hover" style="top: 0px; left: 175px;" alt="">
                <img src="/images/etap1/layout-1-3.png" width="191" height="201" id="e1-l1-3" class="porch__frame__item__hover" style="top: 0px; left: 435px;" alt="">
                <img src="/images/etap1/layout-1-4.png" width="200" height="202" id="e1-l1-4" class="porch__frame__item__hover" style="top: 0px; left: 620px;" alt="">
                <img src="/images/etap1/layout-1-5.png" width="189" height="472" id="e1-l1-5" class="porch__frame__item__hover" style="top: 0px; right: 0" alt="">
                <img src="/images/etap1/layout-1-6.png" width="185" height="226" id="e1-l1-6" class="porch__frame__item__hover" style="bottom: 0; left: 535px;" alt="">
                <img src="/images/etap1/layout-1-7.png" width="189" height="226" id="e1-l1-7" class="porch__frame__item__hover" style="bottom: 0; left: 352px;" alt="">
                <img src="/images/etap1/layout-1-8.png" width="182" height="229" id="e1-l1-8" class="porch__frame__item__hover" style="bottom: 0; left: 181px;" alt="">
                <img src="/images/etap1/layout-1-9.png" width="220" height="227" id="e1-l1-9" class="porch__frame__item__hover" style="bottom: 0; left: 0px;" alt="">

                <map name="map-e1-i1" id="map-e1-i1">
                    <area alt="" title="" href="/images/etap1/layout-1-1.png" data-element="#e1-l1-1" class="j-area-item" shape="poly" coords="1,0,0,247,183,247,179,34,101,32,99,0" />
                    <area alt="" title="" href="/images/etap1/layout-1-2.png" data-element="#e1-l1-2" class="j-area-item" shape="poly" coords="183,31,185,195,361,198,362,2,262,1,258,32" />
                    <area alt="" title="" href="/images/etap1/layout-1-3.png" data-element="#e1-l1-3" class="j-area-item" shape="poly" coords="439,37,437,199,624,199,623,4,524,2,523,33" />
                    <area alt="" title="" href="/images/etap1/layout-1-4.png" data-element="#e1-l1-4" class="j-area-item" shape="poly" coords="627,4,628,197,821,197,819,38,726,34,724,2" />
                    <area alt="" title="" href="/images/etap1/layout-1-5.png" data-element="#e1-l1-5" class="j-area-item" shape="poly" coords="817,4,901,5,901,434,817,438,818,467,723,467,717,199,821,201" />
                    <area alt="" title="" href="/images/etap1/layout-1-6.png" data-element="#e1-l1-6" class="j-area-item" shape="poly" coords="543,249,539,432,619,436,619,469,716,468,715,246" />
                    <area alt="" title="" href="/images/etap1/layout-1-7.png" data-element="#e1-l1-7" class="j-area-item" shape="poly" coords="356,244,356,464,456,469,458,436,538,435,539,246" />
                    <area alt="" title="" href="/images/etap1/layout-1-8.png" data-element="#e1-l1-8" class="j-area-item" shape="poly" coords="220,246,353,242,353,468,259,470,256,435,185,435,184,294,222,293" />
                    <area alt="" title="" href="/images/etap1/layout-1-9.png" data-element="#e1-l1-9" class="j-area-item" shape="poly" coords="2,248,216,247,219,289,185,290,183,435,103,437,99,467,4,468" />
                </map>
            </div>

            <div class="porch__frame__item j-porch-item" id="porch-tab-3">
                <img src="/images/area.png" class="porch__frame__item__area" usemap="#map-e1-i2" width="848" height="472" alt="">
                <img src="/images/etap1/layout-2.png" width="848" height="472" alt="">

                <img src="/images/etap1/layout-2-1.png" width="104" height="187" id="e1-l2-1" class="porch__frame__item__hover" style="top: 54px; left: 111px;" alt="">
                <img src="/images/etap1/layout-2-2.png" width="254" height="180" id="e1-l2-2" class="porch__frame__item__hover" style="top: 54px; left: 209px;" alt="">
                <img src="/images/etap1/layout-2-3.png" width="168" height="180" id="e1-l2-3" class="porch__frame__item__hover" style="top: 54px; left: 525px;" alt="">
                <img src="/images/etap1/layout-2-4.png" width="161" height="229" id="e1-l2-4" class="porch__frame__item__hover" style="top: 54px; left: 687px;" alt="">

                <img src="/images/etap1/layout-2-5.png" width="196" height="201" id="e1-l2-5" class="porch__frame__item__hover" style="bottom: 0px; left: 652px;" alt="">
                <img src="/images/etap1/layout-2-6.png" width="163" height="201" id="e1-l2-6" class="porch__frame__item__hover" style="bottom: 0px; left: 525px;" alt="">
                <img src="/images/etap1/layout-2-7.png" width="163" height="201" id="e1-l2-7" class="porch__frame__item__hover" style="bottom: 0px; left: 373px;" alt="">
                <img src="/images/etap1/layout-2-8.png" width="173" height="202" id="e1-l2-8" class="porch__frame__item__hover" style="bottom: 0px; left: 206px;" alt="">
                <img src="/images/etap1/layout-2-9.png" width="101" height="239" id="e1-l2-9" class="porch__frame__item__hover" style="bottom: 0px; left: 111px;" alt="">

                <map name="map-e1-i2" id="map-e1-i2">
                    <area alt="" title="" href="/images/etap1/layout-2-1.png" data-element="#e1-l2-1" class="j-area-item" shape="poly" coords="118,53,119,80,113,81,113,236,172,236,174,229,212,229,214,84,205,84,205,51" />
                    <area alt="" title="" href="/images/etap1/layout-2-2.png" data-element="#e1-l2-2" class="j-area-item" shape="poly" coords="217,83,213,227,465,230,460,55,312,51,310,79" />
                    <area alt="" title="" href="/images/etap1/layout-2-3.png" data-element="#e1-l2-3" class="j-area-item" shape="poly" coords="530,56,530,226,691,230,694,84,621,85,616,55" />
                    <area alt="" title="" href="/images/etap1/layout-2-4.png" data-element="#e1-l2-4" class="j-area-item" shape="poly" coords="697,81,693,276,847,277,848,57,765,56,761,86" />
                    <area alt="" title="" href="/images/etap1/layout-2-5.png" data-element="#e1-l2-5" class="j-area-item" shape="poly" coords="656,272,658,310,684,313,683,437,758,441,766,469,846,470,848,279" />
                    <area alt="" title="" href="/images/etap1/layout-2-6.png" data-element="#e1-l2-6" class="j-area-item" shape="poly" coords="531,271,530,468,618,471,616,443,681,439,683,313,657,313,655,272" />
                    <area alt="" title="" href="/images/etap1/layout-2-7.png" data-element="#e1-l2-7" class="j-area-item" shape="poly" coords="378,269,375,441,440,444,446,467,528,471,529,271" />
                    <area alt="" title="" href="/images/etap1/layout-2-8.png" data-element="#e1-l2-8" class="j-area-item" shape="poly" coords="212,273,210,468,297,470,297,442,375,442,377,271" />
                    <area alt="" title="" href="/images/etap1/layout-2-9.png" data-element="#e1-l2-9" class="j-area-item" shape="poly" coords="113,235,174,238,176,267,208,272,209,469,119,468" />
                </map>
            </div>
        </div>
    </div>
    
    <div class="page-subtitle"><span class="page-subtitle__title">Этап 2 - Планировки</span></div>

    <div class="porch j-porch">
        
        <div class="porch__tabs clearfix">
            <a href="#" onclick="return false" data-tab="1" class="porch__tab j-porch-tab _current">ТИПОВОЙ ЭТАЖ - ПОДЪЕЗД 1</a>
            <a href="#" onclick="return false" data-tab="2" class="porch__tab j-porch-tab">ТИПОВОЙ ЭТАЖ - ПОДЪЕЗД 2</a>
            <a href="#" onclick="return false" data-tab="3" class="porch__tab j-porch-tab">ТИПОВОЙ ЭТАЖ - ПОДЪЕЗД 3</a>
        </div>

        <div class="porch__frame clearfix j-porch-frame">
            <div class="porch__frame__item j-porch-item _active" id="porch-tab-1">
                <img src="/images/area.png" class="porch__frame__item__area" usemap="#map-e2-i1" width="927" height="472" alt="">
                <img src="/images/etap2/layout-1.png" width="927" height="472" alt="">
                
                <img src="/images/etap2/layout-1-1.png" width="115" height="209" id="e2-l1-1" class="porch__frame__item__hover" style="top: 19px; left: 118px;" alt="">
                <img src="/images/etap2/layout-1-2.png" width="120" height="210" id="e2-l1-2" class="porch__frame__item__hover" style="top: 19px; left: 228px;" alt="">
                <img src="/images/etap2/layout-1-3.png" width="125" height="208" id="e2-l1-3" class="porch__frame__item__hover" style="top: 20px; left: 340px;" alt="">
                <img src="/images/etap2/layout-1-4.png" width="215" height="211" id="e2-l1-4" class="porch__frame__item__hover" style="top: 18px; left: 495px;" alt="">
                
                <img src="/images/etap2/layout-1-5.png" width="178" height="211" id="e2-l1-5" class="porch__frame__item__hover" style="top: 18px; right: 0px;" alt="">
                <img src="/images/etap2/layout-1-6.png" width="108" height="262" id="e2-l1-6" class="porch__frame__item__hover" style="bottom: 0px; right: 0px;" alt="">
                <img src="/images/etap2/layout-1-7.png" width="246" height="223" id="e2-l1-7" class="porch__frame__item__hover" style="bottom: 0px; left: 533px;" alt="">
                <img src="/images/etap2/layout-1-8.png" width="166" height="224" id="e2-l1-8" class="porch__frame__item__hover" style="bottom: 0px; left: 377px;" alt="">
                <img src="/images/etap2/layout-1-9.png" width="165" height="223" id="e2-l1-9" class="porch__frame__item__hover" style="bottom: 0px; left: 218px;" alt="">
                <img src="/images/etap2/layout-1-10.png" width="107" height="253" id="e2-l1-10" class="porch__frame__item__hover" style="bottom: 0px; left: 119px;" alt="">
    
                <map name="map-e2-i1" id="map-e2-i1">
                    <area alt="" title="" href="/images/etap2/layout-1-1.png" data-element="#e2-l1-1" class="j-area-item" shape="poly" coords="124,17,239,18,245,215,120,219" />
                    <area alt="" title="" href="/images/etap2/layout-1-2.png" data-element="#e2-l1-2" class="j-area-item" shape="poly" coords="241,19,244,213,364,214,360,21" />
                    <area alt="" title="" href="/images/etap2/layout-1-3.png" data-element="#e2-l1-3" class="j-area-item" shape="poly" coords="364,20,484,18,486,213,364,216" />
                    <area alt="" title="" href="/images/etap2/layout-1-4.png" data-element="#e2-l1-4" class="j-area-item" shape="poly" coords="568,20,564,214,747,215,743,50,666,49,666,17" />
                    <area alt="" title="" href="/images/etap2/layout-1-5.png" data-element="#e2-l1-5" class="j-area-item" shape="poly" coords="746,52,748,211,926,212,924,17,830,17,829,49" />
                    <area alt="" title="" href="/images/etap2/layout-1-6.png" data-element="#e2-l1-6" class="j-area-item" shape="poly" coords="816,261,819,466,924,469,922,212,860,212,856,256" />
                    <area alt="" title="" href="/images/etap2/layout-1-7.png" data-element="#e2-l1-7" class="j-area-item" shape="poly" coords="563,259,566,467,655,468,657,436,816,434,811,258" />
                    <area alt="" title="" href="/images/etap2/layout-1-8.png" data-element="#e2-l1-8" class="j-area-item" shape="poly" coords="399,261,401,436,477,438,477,468,564,467,561,260" />
                    <area alt="" title="" href="/images/etap2/layout-1-9.png" data-element="#e2-l1-9" class="j-area-item" shape="poly" coords="227,260,229,468,322,467,325,436,400,436,395,262" />
                    <area alt="" title="" href="/images/etap2/layout-1-10.png" data-element="#e2-l1-10" class="j-area-item" shape="poly" coords="117,217,190,220,191,261,223,262,226,467,130,470" />
                </map>
            </div>

            <div class="porch__frame__item j-porch-item" id="porch-tab-2">
                <img src="/images/area.png" class="porch__frame__item__area" usemap="#map-e2-i2" width="857" height="472" alt="">
                <img src="/images/etap2/layout-2.png" width="857" height="472" alt="">
                
                <img src="/images/etap2/layout-2-1.png" width="172" height="243" id="e2-l2-1" class="porch__frame__item__hover" style="top: 28px; left: 0px;" alt="">
                <img src="/images/etap2/layout-2-2.png" width="176" height="206" id="e2-l2-2" class="porch__frame__item__hover" style="top: 28px; left: 166px;" alt="">
                <img src="/images/etap2/layout-2-3.png" width="136" height="206" id="e2-l2-3" class="porch__frame__item__hover" style="top: 28px; left: 410px;" alt="">
                <img src="/images/etap2/layout-2-4.png" width="132" height="206" id="e2-l2-4" class="porch__frame__item__hover" style="top: 28px; left: 539px;" alt="">
                <img src="/images/etap2/layout-2-5.png" width="195" height="194" id="e2-l2-5" class="porch__frame__item__hover" style="top: 28px; right: 0px;" alt="">
                <img src="/images/etap2/layout-2-6.png" width="246" height="256" id="e2-l2-6" class="porch__frame__item__hover" style="bottom: 1px; right: 1px;" alt="">
                <img src="/images/etap2/layout-2-7.png" width="126" height="219" id="e2-l2-7" class="porch__frame__item__hover" style="bottom: 0px; left: 493px;" alt="">
                <img src="/images/etap2/layout-2-8.png" width="171" height="219" id="e2-l2-8" class="porch__frame__item__hover" style="bottom: 0px; left: 329px;" alt="">
                <img src="/images/etap2/layout-2-9.png" width="171" height="218" id="e2-l2-9" class="porch__frame__item__hover" style="bottom: 0px; left: 168px;" alt="">
                <img src="/images/etap2/layout-2-10.png" width="175" height="208" id="e2-l2-10" class="porch__frame__item__hover" style="bottom: 0px; left: 0px;" alt="">
                
                <map name="map-e2-i2" id="map-e2-i2">
                    <area alt="" title="" href="/images/etap2/layout-2-1.png" data-element="#e2-l2-1" class="j-area-item" shape="poly" coords="1,29,98,29,99,59,167,59,172,219,126,218,130,269,2,267" />
                    <area alt="" title="" href="/images/etap2/layout-2-2.png" data-element="#e2-l2-2" class="j-area-item" shape="poly" coords="169,60,172,214,341,218,340,31,254,30,248,60" />
                    <area alt="" title="" href="/images/etap2/layout-2-3.png" data-element="#e2-l2-3" class="j-area-item" shape="poly" coords="410,30,415,217,546,218,542,30" />
                    <area alt="" title="" href="/images/etap2/layout-2-4.png" data-element="#e2-l2-4" class="j-area-item" shape="poly" coords="542,29,545,215,669,214,665,62,651,58,650,29" />
                    <area alt="" title="" href="/images/etap2/layout-2-5.png" data-element="#e2-l2-5" class="j-area-item" shape="poly" coords="669,65,674,216,851,217,854,32,766,29,766,59" />
                    <area alt="" title="" href="/images/etap2/layout-2-6.png" data-element="#e2-l2-6" class="j-area-item" shape="poly" coords="615,267,615,427,697,431,705,468,854,469,855,219,772,219,768,265" />
                    <area alt="" title="" href="/images/etap2/layout-2-7.png" data-element="#e2-l2-7" class="j-area-item" shape="poly" coords="496,265,502,469,609,469,610,265" />
                    <area alt="" title="" href="/images/etap2/layout-2-8.png" data-element="#e2-l2-8" class="j-area-item" shape="poly" coords="333,262,333,468,431,469,430,437,496,434,492,264" />
                    <area alt="" title="" href="/images/etap2/layout-2-9.png" data-element="#e2-l2-9" class="j-area-item" shape="poly" coords="175,265,329,265,331,468,258,468,258,429,174,430" />
                    <area alt="" title="" href="/images/etap2/layout-2-10.png" data-element="#e2-l2-10" class="j-area-item" shape="poly" coords="0,268,168,266,171,426,100,434,100,468,0,470" />
                </map>
            </div>

            <div class="porch__frame__item j-porch-item" id="porch-tab-3">
                <img src="/images/area.png" class="porch__frame__item__area" usemap="#map-e2-i3" width="786" height="472" alt="">
                <img src="/images/etap2/layout-3.png" width="786" height="472" alt="">
                
                <img src="/images/etap2/layout-3-1.png" width="183" height="194" id="e2-l3-1" class="porch__frame__item__hover" style="width: 183px; height: 194px; top: 28px; left: 1px;" alt="">
                <img src="/images/etap2/layout-3-2.png" width="180" height="206" id="e2-l3-2" class="porch__frame__item__hover" style="width: 180px; height: 206px; top: 27px; left: 177px;" alt="">
                <img src="/images/etap2/layout-3-3.png" width="129" height="206" id="e2-l3-3" class="porch__frame__item__hover" style="width: 129px; height: 206px; top: 27px; left: 428px;" alt="">
                <img src="/images/etap2/layout-3-4.png" width="126" height="205" id="e2-l3-4" class="porch__frame__item__hover" style="width: 126px; height: 205px; top: 28px; right: 112px;" alt="">
                <img src="/images/etap2/layout-3-5.png" width="119" height="205" id="e2-l3-5" class="porch__frame__item__hover" style="width: 119px; height: 205px; top: 28px; right: 0px;" alt="">
                <img src="/images/etap2/layout-3-6.png" width="111" height="249" id="e2-l3-6" class="porch__frame__item__hover" style="width: 111px; height: 249px; bottom: 0px; right: 0px;" alt="">
                <img src="/images/etap2/layout-3-7.png" width="169" height="218" id="e2-l3-7" class="porch__frame__item__hover" style="width: 169px; height: 218px; bottom: 0px; left: 513px;" alt="">
                <img src="/images/etap2/layout-3-8.png" width="169" height="219" id="e2-l3-8" class="porch__frame__item__hover" style="width: 169px; height: 219px; bottom: 0px; left: 350px;" alt="">
                <img src="/images/etap2/layout-3-9.png" width="254" height="220" id="e2-l3-9" class="porch__frame__item__hover" style="width: 254px; height: 220px; bottom: 0px; left: 105px;" alt="">
                <img src="/images/etap2/layout-3-10.png" width="112" height="257" id="e2-l3-10" class="porch__frame__item__hover" style="width: 112px; height: 257px; bottom: 0px; left: 0px;" alt="">
                
                <map name="map-e2-i3" id="map-e2-i3">
                    <area alt="" title="" href="/images/etap2/layout-3-1.png" data-element="#e2-l3-1" class="j-area-item" shape="poly" coords="5,28,95,29,97,57,181,59,183,217,0,216" />
                    <area alt="" title="" href="/images/etap2/layout-3-2.png" data-element="#e2-l3-2" class="j-area-item" shape="poly" coords="184,60,187,217,357,222,352,30,257,29,253,58" />
                    <area alt="" title="" href="/images/etap2/layout-3-3.png" data-element="#e2-l3-3" class="j-area-item" shape="poly" coords="431,31,435,218,558,219,551,28" />
                    <area alt="" title="" href="/images/etap2/layout-3-4.png" data-element="#e2-l3-4" class="j-area-item" shape="poly" coords="555,30,559,218,672,219,674,31" />
                    <area alt="" title="" href="/images/etap2/layout-3-5.png" data-element="#e2-l3-5" class="j-area-item" shape="poly" coords="676,32,676,217,781,224,785,30" />
                    <area alt="" title="" href="/images/etap2/layout-3-6.png" data-element="#e2-l3-6" class="j-area-item" shape="poly" coords="681,267,681,469,780,469,781,228,723,226,722,261" />
                    <area alt="" title="" href="/images/etap2/layout-3-7.png" data-element="#e2-l3-7" class="j-area-item" shape="poly" coords="516,270,517,434,593,439,596,469,679,469,679,265" />
                    <area alt="" title="" href="/images/etap2/layout-3-8.png" data-element="#e2-l3-8" class="j-area-item" shape="poly" coords="351,266,356,468,441,468,444,439,517,439,514,265" />
                    <area alt="" title="" href="/images/etap2/layout-3-9.png" data-element="#e2-l3-9" class="j-area-item" shape="poly" coords="107,266,114,434,265,437,269,468,355,466,350,265" />
                    <area alt="" title="" href="/images/etap2/layout-3-10.png" data-element="#e2-l3-10" class="j-area-item" shape="poly" coords="0,215,5,467,105,467,107,267,67,259,67,217" />
                </map>
            </div>
        </div>
    </div>
    
</div>