<div class="rooms _fb">
    <div class="rooms__header _fh">
        <div class="page-header"><span class="page-header__title">Современные и комфортные квартиры</span></div>
    </div>

    <div class="rooms__wrapper">
        <div class="layout-wrapper__content clearfix">
            <div class="rooms__overlay">
                <div class="rooms__overlay__content">

                    <div class="rooms__col clearfix">
                        <div class="rooms__col__item">
                            <div class="rooms__col__item__picture">
                                <img data-src="/images/wall.png" alt="" class="rooms__col__item__picture__src">
                            </div>

                            <div class="rooms__col__item__content">
                                <p><strong>Современная монолитно-кирпичная технология</strong> <br>дорогостоящие, высококачественные строительные материалы, монолит, керамический забутовочный и облицовочный  кирпич. Внешняя стена дома - 54см</p>
                            </div>
                        </div>
                        
                        <div class="rooms__col__item">
                            <div class="rooms__col__item__picture">
                                <img data-src="/images/trees-outline.png" alt="" class="rooms__col__item__picture__src">
                            </div>

                            <div class="rooms__col__item__content">
                                <p><strong>Благоустройство и озеленение</strong>&nbsp;придомовой территории, современные детские, спортивные площадки.</p>
                            </div>
                        </div>
                    </div>

                    <div class="rooms__col clearfix">
                        <div class="rooms__col__item">
                            <div class="rooms__col__item__picture">
                                <img data-src="/images/house-plan-scale.png" alt="" class="rooms__col__item__picture__src">
                            </div>

                            <div class="rooms__col__item__content">
                                <p><strong>Эргономичные планировки</strong> <br>от 20 до 62 кв. м</p>
                            </div>
                        </div>

                        <div class="rooms__col__item">
                            <div class="rooms__col__item__picture">
                                <img data-src="/images/buildings-near-the-sea-made-of-various-shapes.png" alt="" class="rooms__col__item__picture__src">
                            </div>

                            <div class="rooms__col__item__content">
                                <p><strong>Внутренняя инфраструктура на территории ЖК:</strong> <br>собственная управляющая компания, аптека, минимаркет, салон красоты и т.д.</p>
                            </div>
                        </div>
                    </div>

                    <div class="rooms__col clearfix">
                        <div class="rooms__col__item">
                            <div class="rooms__col__item__picture">
                                <img data-src="/images/roller-brush.png" alt="" class="rooms__col__item__picture__src">
                            </div>

                            <div class="rooms__col__item__content">
                                <p><strong>Предчистовая отделка:</strong> <br>стены - гипсовая штукатурка, пол - стяжка, выводы под сантехнику, электророзетки, счетчики и радиаторы отопления с регулировкой температуры, металлопластиковые окна, металлическая входная дверь.</p>
                            </div>
                        </div>

                        <div class="rooms__col__item">
                            <div class="rooms__col__item__picture">
                                <img data-src="/images/valve.png" alt="" class="rooms__col__item__picture__src">
                            </div>

                            <div class="rooms__col__item__content">
                                <p><strong>Центральные коммуникации</strong></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>