<div class="slider _fb j-section clearfix" id="slider-anchor">
    <b class="slider__navigation slider__navigation_prev j-slider-navigation" id="slider-prev" data-direction="prev"></b>
    <b class="slider__navigation slider__navigation_next j-slider-navigation" id="slider-next" data-direction="next"></b>

    <div class="slider__switcher">
        <label for="swith-day" class="slider__switcher__item current">
            <span class="slider__switcher__item__m _day">ДЕНЬ</span>
        </label>

        <input type="radio" name="switch" value="night" id="swith-night" class="slider__switcher__radio j-switcher">
        
        <span class="slider__switcher__background"></span>

        <input type="radio" name="switch" value="day" id="swith-day" class="slider__switcher__radio j-switcher" checked>

        <label for="swith-night" class="slider__switcher__item">
            <span class="slider__switcher__item__m _night">НОЧЬ</span>
        </label>
    </div>

    <div class="slider__header">
        <div class="slider__header__middle">
            <div class="slider__header__deadline">Сдача июль 2017</div>
            <div class="slider__header__title">ЖК “ВИНОГРАДЪ”</div>
        </div>
    </div>

    <div class="slider__content">
        <div class="slider__content__checked">
            <span class="slider__content__checked__title">Квартиры комфорт класса от <strong class="rouble">624 000</strong></span>
        </div>
        <div class="slider__content__checked">
            <span class="slider__content__checked__title">5 минут езды до центра Краснодара</span>
        </div>
    </div>

    <div class="slider__groups clearfix" id="slider">

        <div class="slider__groups__item j-slider-item _active" data-daytime="day">
            <div class="slider__groups__image j-slider-image _active">
                <div class="slider__groups__image__src" style="background-image: url(/images/slider/d0.jpg);"></div>
            </div>
            
            <div class="slider__groups__image j-slider-image">
                <div class="slider__groups__image__src" style="background-image: url(/images/slider/d1.jpg);"></div>
            </div>
            
            <div class="slider__groups__image j-slider-image">
                <div class="slider__groups__image__src" style="background-image: url(/images/slider/d2.jpg);"></div>
            </div>
            
            <div class="slider__groups__image j-slider-image">
                <div class="slider__groups__image__src" style="background-image: url(/images/slider/d3.jpg);"></div>
            </div>
            
            <div class="slider__groups__image j-slider-image">
                <div class="slider__groups__image__src" style="background-image: url(/images/slider/d4.jpg);"></div>
            </div>
        </div>

        <div class="slider__groups__item j-slider-item" data-daytime="night">
            <div class="slider__groups__image j-slider-image">
                <div class="slider__groups__image__src" style="background-image: url(/images/slider/n0.jpg);"></div>
            </div>
            
            <div class="slider__groups__image j-slider-image">
                <div class="slider__groups__image__src" style="background-image: url(/images/slider/n1.jpg);"></div>
            </div>
            
            <div class="slider__groups__image j-slider-image _active">
                <div class="slider__groups__image__src" style="background-image: url(/images/slider/n2.jpg);"></div>
            </div>
        </div>

    </div>

    <div class="slider__form">
        <form action="" method="post" class="form _simple _darken">
            <div class="form__title">Получите подробную консультацию у нашего специалиста</div>

            <div class="form__row clearfix">
                <div class="form__col _input">
                    <input placeholder="Телефон" class="c-input j-phone-mask">
                </div>
                
                <div class="form__col _button">
                    <button type="submit" class="button button_green _wide">ЗАКАЗАТЬ ЗВОНОК</button>
                </div>
            </div>
        </form>
    </div>
</div>