<div class="timeline clearfix">
    <div class="layout-wrapper__content clearfix">
        <div class="page-header"><span class="page-header__title _white">ход строительства</span></div>
        
        <div class="timeline__carousel carousel j-timeline">
            <div class="carousel__outer">
                <div class="carousel__wrapper j-carousel">
                    
                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/20.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/20-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>
                    
                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/22.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/22-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/21.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/21-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>
                    
                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/19.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/19-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>
                    
                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/18.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/18-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>
                    
                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/17.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/17-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>
                    
                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/16.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/16-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>
                    
                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/14.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/14-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>
                    
                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/15.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/15-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/14.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/14-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/13.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/13-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>
                    
                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/12.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/12-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>
                    
                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/11.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/11-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/10.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/10-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/9.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/9-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/8.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/8-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/7.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/7-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/6.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/6-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/5.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/5-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/4.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/4-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/3.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/3-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/2.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/2-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>

                    <div class="carousel__item slick-slide">
                        <a href="/images/timeline/1.jpg" onclick="return false" class="carousel__item__image zoom">
                            <img src="/images/timeline/1-s.jpg" alt="" class="carousel__item__image__src">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>