.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: '';
    line-height: 0;
    display: table;
}

.bigmap img {
    max-width: 100%;
}

.floors {
    clear: both;
    margin-bottom: 100px;
}

.floors__item {
    width: 33%;
    outline: none;
    display: inline-block;
    vertical-align: top;
}

.floors__item:not(:first-child) {
    padding-left: 15px;
}

.floors__item:not(:last-child) {
    padding-right: 15px;
}

.floors__item__content {
    padding: 15px;
    text-align: center;
    position: relative;
}

.floors__item__link {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    outline: none;
    border: 2px solid #409555;
}

.floors__item__link:hover {
    border-color: #003b11;
}

.floors__item__stage {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 10px;
}

.floors__item__floor {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 10px;
}
        
.floors__item__entrance {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 10px;
}
        
.floors__item__type {
    font-weight: 700;
    font-size: 13px;
}

@media only screen and (max-width: 768px) {
    .floors__item {
        margin-bottom: 70px;
    }

   .floors__item {
        width: 100%;
        display: block;
        clear: both;
    }

    .floors__item:not(:first-child) {
        padding-left: 0;
    }

    .floors__item:not(:last-child) {
        padding-right: 0;
        margin-bottom: 20px;
    }
}

.page-header {
    clear: both;
    text-align: center;
    margin-bottom: 25px;
}

.page-header__title {
    color: #2d2d2d;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: -5px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    letter-spacing: 0.05ex;
    text-transform: uppercase;
}

.page-header__title:after {
    width: 83px;
    height: 2px;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -41px;
    background-color: #60a972;
}


.porch {
  clear: both;
  font-size: 0;
  text-align: center;
  margin-bottom: 50px; }
  .porch__tabs {
    clear: both;
    margin-bottom: 15px; }
  .porch__tab {
    width: 260px;
    height: 50px;
    margin: 0 5px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: middle;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(/images/tab.png);
    -webkit-background-size: auto 50px;
            background-size: auto 50px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: .7;
    font-size: 14px;
    font-size: 14px;
    font-size: 1.4rem;
    color: #197b30;
    font-weight: 700;
    line-height: 48px;
    text-decoration: none; }
    .porch__tab._current {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      opacity: 1;
      color: #000;
      background-image: url(/images/tab-active.png); }
    .porch__tab:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      opacity: 1; }
  .porch__frame {
    height: 530px;
    padding: 25px;
    max-width: 960px;
    text-align: center;
    margin: 0 auto 20px;
    border: 4px solid #197b30;
    background: url(/images/rose-of-wind.svg) 10px 10px no-repeat;
    -webkit-background-size: 40px 41px;
            background-size: 40px 41px; }
    .porch__frame__item {
      display: none;
      font-size: 0;
      line-height: 0;
      position: relative; }
      .porch__frame__item img {
        max-width: 100%;
        max-height: 100%; }
      .porch__frame__item__area {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 100;
        margin: auto;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; }
      .porch__frame__item__hover {
        position: absolute;
        z-index: 50;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity: 0;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s; }
        .porch__frame__item__hover._show {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          opacity: 1; }
      .porch__frame__item._active {
        display: inline-block; }



.page-subtitle {
    color: #2d2d2d;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 35px;
}

.page-subtitle p {
    margin-bottom: 10px;
}
    
.page-subtitle__title {
    margin-bottom: 20px;
}
    
.page-subtitle__title, .page-subtitle h4 {
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 700;
}

.page-subtitle._nm {
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .page-subtitle {
        margin-bottom: 25px;
    }
}



/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: #000000;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #000000;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }



.pinch-zoom {
height: 100%;
max-width: 960px;
max-height: 100%;
position: relative;
margin: 0 auto; }
.pinch-zoom:before {
content: "";
height: 100%;
display: inline-block;
vertical-align: middle; }
.pinch-zoom, .pinch-zoom__image {
width: 100%;
-webkit-user-drag: none; }
.pinch-zoom .pinch-zoom-container {
width: 100%;
min-height: 60%;
display: inline-block;
vertical-align: middle; }

.plan-list {
clear: both;
width: 100%;
margin: 0 -4px;
max-width: 960px;
font-size: 0;
margin: 0 auto 60px; }
.plan-list__item {
width: 33.3333333333%;
padding: 0 4px;
display: inline-block;
vertical-align: top; }

.plan-item {
display: block;
position: relative;
outline: none;
border: 3px solid #197b30;
-webkit-transition: border-color 0.3s;
transition: border-color 0.3s; }
.plan-item:hover {
border-color: #22a541; }
.plan-item:before {
content: "";
display: block;
padding-top: 60%; }
.plan-item__image {
display: block;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
text-align: center; }
.plan-item__image:before {
height: 100%;
content: "";
display: inline-block;
vertical-align: middle; }
.plan-item__image__src {
max-width: 90%;
max-height: 90%;
display: inline-block;
vertical-align: middle; }
.plan-item__title {
color: #197b30;
display: block;
font-size: 15px;
font-size: 15px;
font-size: 1.5rem;
line-height: 1.3;
text-align: center;
font-weight: 700;
margin-bottom: 15px; }

@media only screen and (max-width: 768px) {
.plan-list {
margin: 0;
padding: 0 20px; }
.plan-list__item {
width: 100%;
padding: 0;
max-width: 480px;
margin: 0 auto 30px; } }



.popup-open {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; }
  .popup-open .layout-wrapper {
    overflow: hidden; }

.no-scroll.popup-open {
  overflow: hidden; }

.popup {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 1;
  z-index: 9999;
  display: none;
  overflow-y: auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .5s, -webkit-transform .6s;
  transition: opacity .5s, -webkit-transform .6s;
  transition: opacity .5s, transform .6s;
  transition: opacity .5s, transform .6s, -webkit-transform .6s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0; }
  .popup.visible {
    display: block;
    vertical-align: middle; }
  .popup.animate {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; }
  .popup__overlay {
    width: 100%;
    height: 500%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
    display: none;
    background-color: #000;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0; }
    .popup__overlay.visible {
      display: block; }
    .popup__overlay.animate {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      opacity: .7; }
  .popup.visible .popup__overlay {
    display: block; }
  .popup.animate .popup__overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: .7; }
  .popup__dialog {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 100;
    padding: 60px 20px;
    position: relative;
    text-align: center;
    vertical-align: middle; }
    .popup__dialog.is-scrolling {
      position: relative;
      left: auto;
      top: auto;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    .popup__dialog._pinch {
      padding: 40px 0; }
  .popup__content {
    width: 100%;
    position: relative;
    padding: 0;
    line-height: 1;
    max-width: 960px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ebebeb; }
    .popup__content._feedback {
      max-width: 677px; }
    .popup__content._pinch {
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0; }
    .popup__content._layout {
      padding: 10px;
      max-width: 540px; }
    .popup__content._message {
      padding: 10px;
      max-width: 540px; }
  .popup__header {
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: #EAEFF3; }
    .popup__header__title {
      color: #535353;
      font-size: 22px;
      font-size: 22px;
      font-size: 2.2rem;
      font-weight: 400; }
  .popup__message {
    font-size: 17px;
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.3; }
    .popup__message._success {
      color: #409555; }
    .popup__message._error {
      color: #ff5335; }
  .popup__body {
    padding: 50px 120px 35px; }
    .popup__body._layout {
      padding: 0;
      border: 2px solid #014017; }
    .popup__body._pinch {
      padding: 20px 10px;
      height: 100%; }
  .popup__layout {
    padding: 120px 30px 30px;
    padding: 30px 30px 30px;
    text-align: center; }
    .popup__layout__image {
      max-width: 80%; }
  .popup__close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
    cursor: pointer;
    background: url(/images/close.png) 50% 50% no-repeat;
    background-image: url(/images/close.svg);
    -webkit-background-size: 20px 20px;
            background-size: 20px 20px; }
    .popup__close._layout {
      top: 25px;
      right: 25px; }

@media only screen and (max-width: 768px) {
  .popup__body {
    padding: 50px 40px 35px; } }

@media only screen and (max-width: 375px) {
  .popup__body {
    padding: 60px 15px 25px; } }


.genplan {
    clear: both;
    max-width: 940px;
    margin: 0 auto 35px;
    user-select: none;
}

.genplan__title {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.genplan__image {
    padding: 15px;
    font-size: 0;
    line-height: 0;
    position: relative;
    border: 4px solid #197b30;
}

.genplan__image__src {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.genplan__image__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.genplan__image__liter {
    position: absolute;
    padding: 10px 15px;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    color: #fff;
}

.genplan__image__liter:before {
    width: 100%;
    height: 100%;
    content: "";
    opacity: .9;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #197b30;
}

.genplan__image__liter:after {
    content: "";
    opacity: .9;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: 100%;
    margin-bottom: -1px;
    border-style: solid;
    border-width: 10px 10px 30px 10px;
    border-color: transparent transparent #197b30 transparent;
    transform: skew(-30deg);
}

.genplan__image__liter__text {
    position: relative;
    z-index: 2;
}

.genplan__image__liter._l1 {
    left: 20px;
    bottom: 120px;
}

.genplan__image__liter._l2 {
    left: 275px;
    bottom: 55px;
}

.genplan__image__liter._l2:after {
    bottom: 10px;
    right: 100%;
    transform: skew(0deg);
    border-width: 10px 30px 10px 10px;
    border-color: transparent #197b30 transparent transparent;
}

.genplan__image__liter._l3 {
    left: 295px;
    bottom: 125px;
}

.genplan__image__liter._l4 {
    left: 455px;
    bottom: 125px;
}

.genplan__image__liter._l5 {
    left: 695px;
    bottom: 35px;
}

.genplan__image__liter._l5:after {
    right: auto;
    left: 0px;
    transform: skew(30deg);
}

@media only screen and (max-width: 960px) {
    .genplan__image__liter {
        display: none;
    }
}