<footer class="layout-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="layout-footer__wrapper">
		
		<div class="layout-footer__copiright">© 2016 Все права защищены "Регион Строй"</div>
		
		<div class="layout-footer__logo">
			<span class="layout-footer__logo__src"></span>
		</div>

        <div class="layout-footer__studio">
            <a href="javascript:goPage('http://newtime.biz/')" target="_blank" title="Разработка и продвижение сайта" class="layout-footer__studio__desc">Разработка и продвижение сайта</a> — <a href="javascript:goPage('http://newtime.biz/')" target="_blank" title="Разработка и продвижение сайта" class="layout-footer__studio__link">NEWTIME.BIZ</a>
        </div>
		
	</div>
</footer>