<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<header class="layout-header _fh" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<a href="#slider-section" class="layout-header__logo logo j-navigation"></a>

		<span class="layout-header__phone">
			<span class="layout-header__phone__item">
				8 (800) 250-89-84 <span class="small-text">(звонок бесплатный)</span>
			</span>
		</span>

	</div>

	<!-- <a href="/images/8-marta.jpg" onclick="return false" class="layout-header__badge layout-header__badge--8-marta zoom-image"></a> -->
</header>

<div class="layout-header_similar"></div>

<nav class="layout-header__navigation navigation" id="navigation" role="navigation">
	<div class="navigation__wrapper">
		<ul class="navigation__list">
		    <li class="navigation__item"><a href="#about-section" class="navigation__link j-navigation current">О КОМПЛЕКСЕ</a></li>
		    <li class="navigation__item"><a href="#plans-section" class="navigation__link j-navigation">ПЛАНИРОВКИ</a></li>
		    <li class="navigation__item"><a href="#payment-section" class="navigation__link j-navigation">СПОСОБЫ ОПЛАТЫ</a></li>
		    <li class="navigation__item"><a href="#documents-section" class="navigation__link j-navigation">ДОКУМЕНТАЦИЯ</a></li>
		    <li class="navigation__item"><a href="#contacts-section" class="navigation__link j-navigation">КОНТАКТЫ</a></li>
		</ul>
	</div>
</nav>