input,
textarea {
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;

    &:focus {
        outline: none;
    }
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

label {
    cursor: pointer;
}

input, button {
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
}

.c-input,
.c-textarea {
    width: 100%;
    color: #6a6767;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 0;
    font-family: $font-forms;
    border: 1px solid $c-border-color;
    box-sizing: border-box !important;
    background-color: #fff;
    transition: border-color $a-time, color $a-time;

    &.error {
        color: #ff5335 !important;
        border-color: #ff5335 !important;
        outline: 2px solid rgba(255, 83, 53, 50%);
    }

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }

    &:focus,
    &:focus {
        outline: none;
    }

    &::-ms-clear {
        display: none;
    }
}

.c-input {
    height: 49px;
    padding: 0 15px;
}
