.button {
    color: #fff;
    height: 48px;
    padding: 0 44px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    @extend %button;
    border-radius: 6px;

    &._wide {
        width: 100%;
        padding: 0;
        display: block;
    }

    &:visited {
        color: #fff;
    }

    &_green {
        background-color: #409555;
        box-shadow: 0 2px 0 0 #1d6c31;
    }

    &:hover {
        color: #fff;
        background-color: darken(#409555, 5%);
    }

    &.disabled {
        background: #ccc !important;
        cursor: not-allowed !important;
        background: #ccc !important;

        &, &:hover {
            -webkit-box-shadow: none !important;
            box-shadow:none !important;
            background: #ccc !important;
        }
    }
}