.get-price {
    width: 100%;
    margin-bottom: 60px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e5e5;

    &__content {
        width: 100%;
        margin: 0 auto;
        max-width: 600px;
    }
}