.layout-header {
    clear: both;
    height: $header-height;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    
    &:before {
        height: 58px;
        background-image: url(/images/fh-shadow.png);
    }
    
    &_similar {
        height: $header-height;
    }

    &__wrapper {
        @extend %layout;
        position: relative;
        z-index: 100;
    }

    &__navigation {
        position: fixed;
        // left: 194px;
        top: 52px;
        right: 0;
        left: 0;
        text-align: center;
        z-index: 1000;
        display: block;
    }

    &__logo {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    &__phone {
        color: #2d2d2d;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        font-family: $font-narrow;
        text-decoration: none;
        position: absolute;
        right: 10px;
        top: 48px;
    }
}

@media only screen and (max-width: 1024px) {
    .layout-header {
        &, &_similar {
            height: 80px;
        }

        &__logo {
            left: 80px;
            top: 27px;
        }

        &__phone {
            top: 37px;
            right: 20px;
        }
    }
}

@media only screen and (max-width: 375px) {
    .layout-header {

        &, &_similar {
            height: 60px;
        }

        &__logo {
            left: 9px;
            top: 22px;
            pointer-events: none;
        }

        &__phone {
            top: 35px;
        }
    }
}