.layout-header {
    clear: both;
    height: $header-height;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    
    &:before {
        height: 58px;
        background-image: url(/images/fh-shadow.png);
    }

    &__badge {
        z-index: 100;
        position: absolute;
        right: -20px;
        top: 0;
        outline: none;
        display: block;
        cursor: pointer;
        
        &--8-marta {
            width: 100px;
            height: 99px;
            background: url(/images/badge/8-marta.png) 100% 0 no-repeat;
            background-size: 100px 99px;
        }

        &--action {
            top: 10px;
            right: 10px;
            width: 140px;
            height: 160px;
            font-size: 0;
            text-indent: -1000px;
            background: url(/images/badge/lenta.png) 100% 0 no-repeat;
            background-size: 140px 160px;

            @media (max-width: 780px) {
                top: 80px;
                right: 0;
                left: 0;
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background: url(/images/badge/lenta-chast.png) 50% 50% repeat-x;
                background-size: 25px 40px;
                text-indent: 0;
                font-size: 1.6rem;
                color: #fff;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
    
    &_similar {
        height: $header-height - 20px;
    }

    &__wrapper {
        @extend %layout;
        position: relative;
        z-index: 100;
    }

    &__navigation {
        position: fixed;
        // left: 194px;
        top: 52px;
        right: 0;
        left: 0;
        text-align: center;
        z-index: 1000;
        display: block;
    }

    &__logo {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    &__phone {
        color: #2d2d2d;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        font-family: $font-narrow;
        text-decoration: none;
        position: absolute;
        right: 10px;
        top: 48px;

        &__item {
            display: block;
            text-align: center;

            &:not(:first-child) {
                margin-top: 7px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .layout-header {
        &, &_similar {
            height: 80px;
        }

        &__logo {
            left: 80px;
            top: 27px;
        }

        &__phone {
            top: 37px;
            right: 20px;
        }
    }
}

@media only screen and (max-width: 375px) {
    .layout-header {

        &, &_similar {
            height: 60px;
        }

        &__logo {
            left: 9px;
            top: 22px;
            pointer-events: none;
        }

        &__phone {
            /* top: 35px; */
            top: 15px;
        }
    }
}