.logo {
    width: 134px;
    height: 103px;
    display: block;
    background: url(/images/logo.png) 50% 50% no-repeat;
    background-size: 134px 103px;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min-device-pixel-ratio:1.5) {
    .logo {
        background-image: url(/images/logo@2x.png);
    }
}