.logo {
    width: 134px;
    height: 103px;
    display: block;
    background: url(/images/logo.png) 50% 50% no-repeat;
    background-size: 134px 103px;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min-device-pixel-ratio:1.5) {
    .logo {
        background-image: url(/images/logo@2x.png);
    }

    @media only screen and (max-width: 1024px) {
        .logo {
            background-image: url(/images/logo-mobile@2x.png);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .logo {
        width: 197px;
        height: 53px;
        background-size: 197px 53px;
        background-image: url(/images/logo-mobile.png);
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        width: 52px;
        background-image: url(/images/leaf@1x.png) !important;
        background-size: 50px 51px;
        background-position: 50% 50%;
    }

    @media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min-device-pixel-ratio:1.5) {
        .logo {
            background-image: url(/images/leaf.png) !important;
        }
    }
}