.navigation {
    font-size: 0;
    line-height: 1;

    &__item {
        display: inline-block;
        vertical-align: top;

        &:not(:last-child) {
            margin-right: 18px;
        }
    }

    &__link {
        color: #515151;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        font-family: $font-narrow;
        text-decoration: none;
        border-bottom: 2px solid #fff;
        transition: color $a-time, border-color $a-time;

        &.current {
            color: #60a972;
            border-color: #60a972;
        }
    }

    &.is-disabled {
        .navigation__link.current {
            color: #515151;
            border-color: #fff;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .navigation {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9000;
        line-height: 1;
        background: none;
        box-shadow: none;
        visibility: hidden;
        
        &, &__sticked {
            height: 100%;
            right: 0;
            bottom: 0;
        }

        &__wrapper {
            width: 100%;
            height: 100%;
            padding: 0;
            max-width: 100%;
            box-shadow: none;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
        }

        &__list {
            width: 94%;
            height: auto;
            margin: 0 auto;
            padding: 15px 20px;
            transform: scale(0.4, 0.4);
            transition: transform $a-time;
        }
        
        &__item {
            border: 0;
            clear: both;
            display: block;
            position: relative;
            text-align: center;
            margin: 40px 0;

            &:before {
                display: none;
            }

            &:not(:last-child):after {
                display: none;
            }
        }

        &__link {
            color: #fff;
            padding: 0;
            font-size: 3rem;
            line-height: 1.2;
            border-radius: 0;
            height: auto;
            border-bottom: 0;
            
            &:hover,
            &.current {
                color: #fff;
                background: none;
            }

            &.current {
                color: #1487d9;
            }

            &:after, &:before {
                display: none;
                opacity: 0 !important;
            }
        }
    }
}

@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}