.plans {
    clear: both;
    font-size: 0;
    text-align: center;
    margin: 0 -10px 50px;

    &__item {
        width: 33.333333333%;
        display: none;
        vertical-align: top;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 50px;

        &.is-show {
            display: inline-block;

            &:not(:first-child) {
                
            }
            
            &:not(:last-child) {
                
            }
        }

        &__title {
            color: #2d2d2d;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        &__layout {
            width: 100%;
            display: block;
            height: 300px;
            text-align: center;
            line-height: 300px;
            margin-bottom: 20px;
            text-decoration: none;
            border: 2px solid #409555;

            &__src {
                max-width: 90%;
                max-height: 90%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__description {
            color: #2d2d2d;
            font-size: 1.6rem;
            line-height: 1.2;
            font-weight: 400;
            text-align: center;

            p {
                &:not(:last-child) {
                    margin-bottom: 7px;
                }
            }
        }
    }
}