.plans {
    clear: both;
    font-size: 0;
    text-align: center;
    margin: 0 -10px 50px;

    &__item {
        width: 33.333333333%;
        vertical-align: top;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 50px;
        display: none;
        
        &.is-show {
            display: inline-block;
        }

        &__title {
            color: #2d2d2d;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        &__layout {
            width: 100%;
            display: block;
            height: 300px;
            text-align: center;
            line-height: 300px;
            margin-bottom: 20px;
            text-decoration: none;
            padding: 15px;
            border: 2px solid #409555;

            &__src {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__description {
            color: #2d2d2d;
            font-size: 1.6rem;
            line-height: 1.2;
            font-weight: 400;
            text-align: center;

            p {
                &:not(:last-child) {
                    margin-bottom: 7px;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .plans {
        &__item {
            &__title {
                font-size: 1.6rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .plans {
        &__item {
            width: 48%;

            &__title {
                font-size: 1.6rem;
            }
        }
    }
}

@media only screen and (max-width: 568px) {
    .plans {
        &__item {
            width: 100%;
            max-width: 375px;
                
            &__title {
                font-size: 1.6rem;
            }
        }
    }
}

@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}