svg {
    shape-rendering: optimizeSpeed;
    /*fill: currentColor;*/
}

.image {
    font: 0/0 a;
    border: 0;
}

img {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

img[data-src] {
    opacity: 0;
}