@@include('./components/_meta.html', {
    "title": "ЖК “ВИНОГРАДЪ”",
    "bodyclass": ""
})

@@include('./popup/_pinch.html')
@@include('./popup/_feedback.html')
@@include('./popup/_banners.html')

<div class="layout-wrapper">
    
    @@include('./components/_header.html', {
        "current": "index"
    })
    
    @@include('./section/_slider.html')

    <div class="layout-wrapper__inner">
    
        @@include('./section/_location.html')
    
        @@include('./section/_about.html')

        @@include('./section/_plans-update.html')

        @@include('./section/_rooms.html')

        @@include('./section/_payment.html')
        
        @@include('./section/_timeline.html')

        @@include('./section/_documents.html')

        @@include('./section/_contacts.html')

        @@include('./section/_content.html')
    </div>

</div>

@@include('./components/_footer.html')

@@include('./components/_scripts.html')