.layout-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    &__inner {
        padding-top: 25px;
        padding-bottom: $footer-height + $footer-margin;
    }

    &__content {
        @extend %layout;

        &._push {
            padding-top: 30px;
            padding-bottom: 55px;
        }

        &._payment {
            padding-top: 50px;
            padding-bottom: 55px;
        }

        &._plans {
            padding-top: 50px;
        }

        &._documents {
            padding-top: 90px;
        }

        &._contacts {
            padding-top: 50px;
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}